.createUserButton {
    border: 1px transparent;
    border-radius: 8px;
    padding: 12px;
    width: 320px;
    height: 40px;
    font-size: 16px;
    font-weight: 300;
    color: #ffffff;
}

.createUserButton:hover {
    cursor: pointer;
    background-color: #eaeaea;
    color: #151515;
}