.editUsersAdminPage {
    display: flex;
    flex-direction: row;
    column-gap: 50px;
}

.mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    min-height: 700px;
    gap: 12px;
}

.formHeader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
}