.controls-container {
  position: relative;
  width: 100%;
  left: 83px;
  padding: 10px;
  max-width: 800px;
  display: flex;
  justify-content: center;
}

.add-button {
  position: fixed;
  bottom: 40px;
  right: 20px;
  background-color: #d9d9d9;
  border: none;
  border-radius: 20px;
  padding: 10px 24px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s;
  z-index: 1000;
}

.add-button:hover {
  background-color: #bcbcbc;
}