.container {
  position: absolute;      
  top: 50%;                
  left: 250px;             
  right: 0;                
  transform: translateY(-50%); 
  min-height: 50vh;        
  display: flex;
  justify-content: center; 
  padding: 20px;
  box-sizing: border-box;
}

.formCard {
  background-color: #cfcfcf;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  padding: 2rem;
  width: 100%;
  max-width: 500px; 
  gap: 24px; 
  margin-left: 30px;    
}

.inputGroup {
  margin-bottom: 20px; 
}

.inputField {
  padding: 10px;
  border-radius: 8px;
  border: none;
  width: 100%;
  font-size: 14px;
  background-color: white;
}

.textareaField {
  padding: 10px;
  border-radius: 8px;
  border: none;
  width: 100%;
  font-size: 14px;
  resize: none;
  min-height: 120px;
  background-color: white;
}

.buttonsContainer {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  margin-top: 20px;
}

.cancelButton {
  order: 1;
  flex: 1;
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: #cfcfcf;
  color: #151515;
}

.saveButton {
  order: 2; 
  flex: 1;
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: #cfcfcf;
  color: #151515;
}

.cancelButton:hover,
.saveButton:hover {
  background-color: #bdbdbd;
}