.container {
  display: flex;
  justify-content: center;
  padding: 40px 20px;
  background-color: #f0f2f5;
  min-height: 80vh;
}

.card {
  position: relative;
  background-color: #fff;
  padding: 20px 70px 80px; 
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

h1 {
  margin: 0 0 10px 0;
  color: #333;
  font-weight: 600;
  font-size: 1.8rem;
  text-align: left;
}

.input,
.textarea {
  font-size: 1rem;
  padding: 40px 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline-offset: 2px;
  transition: border-color 0.2s ease;
  width: 100%;
  resize: vertical;
  font-family: inherit;
}

.input:focus,
.textarea:focus {
  border-color: #007bff;
  box-shadow: 0 0 3px #007bff;
}

.textarea {
  min-height: 100px;
}

.btn {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  
  background-color: #bdbdbd;;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 6px;
  padding: 12px 40px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s ease;
  width: auto;
  max-width: 90%;
  text-align: center;
}