.advertisementsPage {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 600px;
}

.mensagemDeAviso {
  color: antiquewhite;
}

.advertisementsList {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 30px;
}